.center {
    display: flex;
    justify-content: center;
}

.game-banner {
    margin: 10px 0;
}

.game-banner-letter {
    font-weight: bold;
    font-size: 50px;
    margin-right: 4px;
}

.separator {
    background-color: #848484;
    height: 2px;
}

.words-grid {
    display: grid;
    margin: 15px 0 15px;
}

.letter-box {
    border: 2px #3A3B3C solid;
    display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 80px;
    margin: 5px 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

.keyboard {
    display: grid;
}

.key {
    display: inline-block;
    color: white;
    height: 60px;
    width: 60px;
    margin: 3px;
    background-color: #848484;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
}

#ENTER, #DEL {
    width: 93px;
}
